.smodal {
}

.smodal.open .smodal-overlay,
.smodal.open .smodal-container {
    opacity: 1;
    z-index: 1000;
}

.smodal.hide .smodal-overlay,
.smodal.hide .smodal-container {
    opacity: 1;
    z-index: 1000;
}

.smodal.open .smodal-overlay {
    background: rgba(0, 0, 0, .5);
}

.smodal.open .smodal-container {
    transform: translateY(100px);
}

.smodal.hide .smodal-overlay {
    background: rgba(0, 0, 0, .0);
}

.smodal.hide .smodal-container {
    transform: translateY(-100%);
}

.smodal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .0);
    transition: background .2s ease-in;
}

.smodal-container {
    width: 600px;
    border-radius: 0;
    background-color: #fff;
    margin: 0 auto;
    transform: translateY(-100%);
    transition: transform .2s ease-in;
}

.smodal__container {
    display: flex;
    flex-direction: row;
}

.smodal__header, .smodal__body, .smodal__footer {
    padding: 10px;
}

.smodal__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.smodal__header-title {
    font-size: 1.5rem;
}

.smodal-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 35px;
    opacity: .5;
    transition: opacity .2s ease-in;
}

.smodal-close:hover {
    opacity: 1;
    transition: opacity .2s ease-in;
}

.s-icon-cross:after {
    display: inline-block;
    content: '\00d7';
}

.smodal__body {
    flex-grow: 1;
}
